- Filetree = require "./templates/filetree"
- FiletreePresenter = require "./presenters/filetree"

#main
  #actions
    - @actions().forEach (action) ->
      %button(click=action.fn)= action.name.titleize()
  = Filetree FiletreePresenter @filetree(), this
  .wrap
    #ace
